body{
    font-family: arial;
    background-color: rgb(222, 200, 205);
}
nav{
    display:flex;
    gap:60px;
    justify-content:center;
    background-color:rgb(194, 110, 124);
}
h1{
    color: rgb(123, 22, 22);
    font-family: serif;
    text-align: center;
    font-size: 45px;
}
img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero{
    position: relative;
}
.hero h2{
    position: absolute;
    top: 60%;
    left: 35%;
    color: rgb(219, 211, 167);
    font-size: 50px;
    font-family: cenzil;
}
.workshop img{
    width: 100%;
    height: 120vh;
    object-fit:inherit;
}