<html>
    <title>Cake it easy</title>
    <link rel="stylesheet" href="static/css/Contact.css">
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/About">About us</a>
            <a href="/Contact">Contact us</a>
        </nav>
        <br>
        <h1>Contact Us!!</h1><br>
        <br>
        <h2>We'd love to hear from you<br>
        <br>
        Have a question, craving, or cake idea?<br>
               Drop us a message!!</h2>
        <div class="details">
            <form action="/send">
            <label><b>Name</b></label>
            <input type="text"><br>
            <br>
            <label><b>Mobile No.</b></label>
            <input type="number"><br>
            <br>
            <label><b>Email Id</b></label>
            <input type="text"><br>
            <br>
            <label><b>Message</b></label>
            <input type="text"><br>
            <br>
            <button type="submit">Submit</button>
            </form>  
        </div>
    </body>
</html>