<html>
<head>
    
    <title>Cake it easy</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/About">About us</a>
        <a href="/Contact">Contact us</a>
    </nav>
    <h1><i>Cake it easy</i></h1>
        <div class="hero">
            <img src="static/images/image1.png">
            <h2><i>“When Life Gets Tough, Cake It Easy”</i></h2>
        </div>
        <div class="workshop">
             <img src="static/images/image2.png">
             
        </div>
        
    
    
</body>
</html>